/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
}

/* Header */

header h1 {
    margin-bottom: 80px;
    padding-left: 15px;
    padding-top: 20px;
}

/* Main */

/* Buttons container */

.buttons-container {
    width: 1000px;
    margin: 0 auto;
}

/* Buttons */

.button-container {
    padding-bottom: 20px;
}

.button {
    all: unset;
    padding: 15px;
    background-color: #0d6efd;
    border-radius: 10px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 30px;
}

/* Card */

.card {
    padding: 30px;
    border: 1px solid #d2d2d2;
    border-radius: 10px;
    margin-bottom: 30px;
}

.card>h2 {
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 20px;
}

.card>p {
    line-height: 30px;

}